{% extends "auctions/layout.html" %} {% block body %}
{% load static %}


<h2>{{title}}</h2>

{% if items %} 
    {% for item in items %}
        <hr>
        <div>
            <a href="{% url 'listing' item.id %}">
            <h3>{{item.title}}</h3>
            {% if not item.active%}
                <p style="color:red">closed</p>
            {% endif %}
            <br>
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="image of {{item.title}}" width="300" >
                {% else %}
                    <img src="{% static 'auctions/img/no_image.jpg'%}" alt="no image" width="300" >
                {% endif %}
            </a>
            <div>
                <ul>
                    <li>Description: {{item.description}}</li>
                    <li>Category: <a href="{% url 'category' item.category %}">{{item.get_category_display}}</a></li>
                    {% with item.bids.all|dictsort:"value"|last as last%}
                        <li>Bid: ${{last.value}}</li>
                    {% endwith %}
                </ul>
            </div>
        </div>
    {% empty %}
        <p>No items.</p>
    {% endfor %} 
{% else %}
        <p>No items.</p>
{% endif %}
{% endblock %}
