{% extends 'auctions/layout.html' %}
{% load static %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}

    <h3>{{listing.title}}</h3>

    {% if wishlist %}
        wishlisted
        <br>
    {% endif %}

    {% if listing.image %}
        <img src="{{ listing.image.url }}" alt="image of {{listing.title}}" width="300" >
    {% else %}
        <img src="{% static 'auctions/img/no_image.jpg'%}" alt="no image" width="300" >
    {% endif %}


    <ul>
        <li>Status: {{listing.active|yesno:"Active,Closed"}}</li>
        <li>Description: {{listing.description}}</li>
        <li>Category: <a href="{% url 'category' listing.category %}">{{listing.get_category_display}}</a></li>
        {% if max_bid %}
            <li>Number of bids: {{listing.bids.all|length}}</li>
            {% if max_bid.user == listing.user %}
                <li>Bid: ${{max_bid.value}}</li>
            {% else %}
                <li>Bid: ${{max_bid.value}} (<b>{{max_bid.user.username}}</b>)</li>
            {% endif%}
        {% else %}
            <li>No bids</li>
        {% endif %}
    </ul>

    {% if listing.active %}
        {% if user.is_authenticated %}
            {% if author == user %}
                <a href="{% url 'close_listing' listing.id%}">Close the auction</a>
                <br>
            {% else %}
                <form action="{% url 'bid' listing.id %}" method="POST">
                {% csrf_token %}
                <label for="bid">Your bid $</label>
                <input type="text" id="bid" name="bid">
                <input type="submit" value="Bid">
            </form>
                {% if wishlist %}
                <a href="{% url 'handle_wishlist' listing.id %}">Remove from wishlist</a>
                {% else %}
                <a href="{% url 'handle_wishlist' listing.id %}">Add to wishlist</a>
                {% endif %}
                <br>
            {% endif %}
        {% endif %}
    {% else %}
            {% with listing.winner as winner %}
                {% if winner %}
                    <p>Auction is closed. Winner is user: <b>{{winner.username}}.</b></p>
                {% else %}
                    <p>Auction is closed. No one is winner.</p>
                {% endif %}
            {% endwith %}
    {% endif %}
    <a href="{% url 'index' %}">Back to all listings</a>
    <div>
        Comments: <br>
        {% for comment in listing.comments.all|dictsort:"created" %}
        <b>{{comment.user.username}}</b>: {{comment.text}}
        {% if user == comment.user %}
            <a href="{% url 'delete_comment' comment.id %}">delete</a>
        {% endif %}
        <br>
        {% endfor %}
        {% if user.is_authenticated %}
        <form action="{% url 'comment' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="comment">
            <input type="submit" value="Comment">
        </form>
        {% endif %}
    </div>
{% endblock %}