{% extends 'auctions/layout.html' %}

{% block body %}

    <form action="{% url 'new_listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.title.label }}
        {{ form.title }}
        <br>
        {{ form.description.label }}
        {{ form.description }}
        <br>
        <label for="bid">Starting bid</label>
        <input type="text" name="bid" id="bid">
        
        <br>
        {{ form.category.label }}
        {{ form.category }}
        <br>
        {{ form.image }}
        <br>
        <input type="submit" value="Create">
    </form>

{% endblock %}